body {
    background: linear-gradient(to right, #a1c4fd, #c2e9fb,#fbc2ee,#fbf9c2);
    font-family: Arial, Helvetica, sans-serif;
  }
.container{
    background-color: white;
    margin: 0 auto;
    margin-top: 20px;
    padding: 60px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: fit-content;
    height: 1000px;
}
.container a{
    padding: 30px 20px;
    background: linear-gradient(to right, #fda1f2,#f055de) ;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    width: 210px;
    height: 100px;
    align-content: center;
    border-radius: 20px;
    text-decoration-line: none;
    margin-right: 30px;
    margin-bottom: 20px;
}